<div class="container-fluid">
  <div class="row topheader">
    <div class="col-6"><a href="https://www.saint-gobain-northamerica.com" target="_blank">VISIT SAINT-GOBAIN </a>
      <a href="https://www.certainteed.com/" target="_blank"> | CERTAINTEED</a>
    </div>
    <div class="col-6 text-right">{{currentDate | date:'fullDate'}}</div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 navigation">
      <app-navigation></app-navigation>
    </div>

    <div class="col-md-12 content-section">


      <div class="row">
        <div class="col p-0">
          <!-- <app-contentsection></app-contentsection> -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">

  <div class="row">
    <div class="col-lg-6 text-white text-left">

      <div class="pl-4">
        <a class="text-white" href="https://www.saint-gobain-northamerica.com" style="color: #3b95c4;"
          target="_blank" title="Click to visit Saint-Gobain-NorthAmerica.com">Saint-Gobain</a><br
          _ngcontent-ksh-c2=""><a class="text-white" href="https://www.certainteed.com" target="_blank"
          title="Click to visit Certainteed.com">CertainTeed</a><br _ngcontent-ksh-c2="">
        <a class="text-white" href="https://www.certainteed.com/legal-terms-of-use/" style="color: #3b95c4;"
          target="_blank" title="Click to view the site's terms of use and privacy policy">Legal Information</a>
        <br _ngcontent-ksh-c2="">Copyright ©2022. All Rights Reserved

      </div>
    </div>
    <div class="col-lg-6 text-right"><a href="https://www.saint-gobain-northamerica.com" target="_blank"><img
          class="" src="assets/sg-logo-white.png" width="150px"></a></div>
  </div>
</footer>

<div class="loader-overlay d-none">
  <div class="loader">
  </div>
</div>