.topheader{
    text-transform: uppercase;
    background-color: #0066a4;
    color: #4cb0ec;
    padding: 8px 0;
        a{
            color: #4cb0ec;
        }
    }
    
    .navigation {
        background-color: #047ec7;
        padding-top: 25px;
    padding-bottom: 25px;
    }
    .user-profile {
        padding: 7px;
        text-align: right;
        background: #e9f7ff;
        border-bottom: 2px solid #c1dded;
        
        img {
            width: 150px;
        }
        
    
        >span {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            border-left: 3px solid #ddd;
            margin-left: 11px;
            padding: 6px 0 9px 10px;
        
    
            i {
                border: 2px solid #fff;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                text-align: center;
                line-height: 35px;
                margin-right: 10px;
                font-size: 20px;
            }
        }    
    }
    .footer {
        background-color: #5b5b5b;
        padding: 25px;
        width: 100%;
        position: absolute;
        //bottom: 0;
    }
    
    button.toggleMenu {
        display: none;
    }
    
    @media screen and (max-width: 768px) {

    
        button.toggleMenu {
            height: 31px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            width: 31px;
            background: none;
            border: none;
            outline: none !important;
            position: relative;
        }
        
        button.toggleMenu span {
            height: 5px;
            position: absolute;
            background: #fff;
            right: 0;
            width: 100%;
            top: 1px;
            border-radius: 20px;
       
        }
        
        button.toggleMenu span:nth-child(2) {
            top: 11px;
        }
        
        button.toggleMenu span:last-child {
            top: 21px;
        }
      }

  

.col-md-10.content-section {
    position: relative;
    padding-bottom: 150px;
    margin-top: 110px;
    min-height: calc(100vh - 77px);
}
.content-section {
    min-height: calc(100vh - 77px);
}


.dataTables_wrapper {
    position: static !important;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffffcc;
}
.loader{
    background-image:url(../assets/loader.gif);
    background-size: cover;
    height: 70px;
    width: 70px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}