<div class="Sales-Container test123">
  <div class="heading">
      <h2>MIC Database</h2>
  </div>
  
   
  <div class="content">
    <div class="row table-fixed">
      <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover display dataTable fixedHeader-floating" id="datatableexample">
          <thead>
            <tr>
              <th>ID</th>
              <th>Formulation</th>
              <th>Pigment</th>
              
              <th>Date</th>
              <th>Duplicate</th>
              <th>Hours</th>
              <th>Lstar</th>
              <th>astar</th>
              <th>bstar</th>
              <th>dL</th>
              <th>da</th>
              <th>db</th>
              <th>dE</th>
              <th>Light_Stabilizer_Type</th>
              <th>Target_Light_Stabilizer_Content</th>
              <th>Actual_Light_Stabilizer_Type</th>
              <th>Antioxidant</th>
  <th>Antioxidant_Content</th>
  <th>Filler_Type</th>
  <th>Filler_Content</th>
  <th>Pigment_Type</th>
  <th>Pigment_Supplier</th>
  <th>Pigment_Content</th>
  <th>Impact_Modifier_Type</th>
  <th>Impact_Modifier_Content</th>
  <th>Processing_Location</th>
  <th>Mold</th>
  <th>Resin_Grade</th>
  <th>unique_ID</th>
  <th>Compound</th>
    <th>Compound_Lot</th>
      <th>Press</th>
        <th>Production_Date</th>
          <th>Notes</th>
            </tr>
            <tr>
              <th>ID</th>
              <th>Formulation</th>
              <th>Pigment</th>
          
              <th>Date</th>
              <th>Duplicate</th>
              <th>Hours</th>
              <th>Lstar</th>
              <th>astar</th>
              <th>bstar</th>
              <th>dL</th>
              <th>da</th>
              <th>db</th>
              <th>dE</th>
              <th>Light_Stabilizer_Type</th>
              <th>Target_Light_Stabilizer_Content</th>
              <th>Actual_Light_Stabilizer_Type</th>
              <th>Antioxidant</th>
  <th>Antioxidant_Content</th>
  <th>Filler_Type</th>
  <th>Filler_Content</th>
  <th>Pigment_Type</th>
  <th>Pigment_Supplier</th>
  <th>Pigment_Content</th>
  <th>Impact_Modifier_Type</th>
  <th>Impact_Modifier_Content</th>
  <th>Processing_Location</th>
  <th>Mold</th>
  <th>Resin_Grade</th>
  <th>unique_ID</th>
  <th>Compound</th>
    <th>Compound_Lot</th>
      <th>Press</th>
        <th>Production_Date</th>
          <th>Notes</th>
            </tr>
          </thead>
        
            <tbody *ngIf="persons?.length != 0">
              <tr *ngFor="let mic of persons">
            <!-- <td><button id="remove" (click)="deleteRow(mic)"><i class="fa fa-trash-o" style="font-size:24px"></i></button></td>  
            -->
            <td>{{mic.ID}}</td>
              <td>{{mic.Formulation}}</td>
              <td>{{mic.Pigment}}</td>
          
             <td>{{mic.Date}}</td>
             <td>{{mic.duplicate}}</td>
             <td>{{mic.Hours | number:'1.1-5'}}</td>
             <td>{{mic.Lstar}}</td>
             <td>{{mic.astar}}</td>
             <td>{{mic.bstar}}</td>
             <td>{{mic.dL | number:'1.1-5'}}</td>
             <td>{{mic.da | number:'1.1-5'}}</td>
             <td>{{mic.db | number:'1.1-5'}}</td>
             <td>{{mic.dE | number:'1.1-5'}}</td>
             <td>{{mic.Light_Stabilizer_Type}}</td>
             <td>{{mic.Target_Light_Stabilizer_Content}}</td>
             <td>{{mic.Actual_Light_Stabilizer_Content | number:'1.1-5'}}</td>
             <td>{{mic.Antioxidant}}</td>
             <td>{{mic.Antioxidant_Content}}</td>
            <td>{{mic.Filler_Type}}</td>
            <td>{{mic.Filler_Content}}</td>
            <td>{{mic.Pigment_Type}}</td>
             <td>{{mic.Pigment_Supplier}}</td>
             <td>{{mic.Pigment_Content}}</td>
             <td>{{mic.Impact_Modifier_Type}}</td>
             <td>{{mic.Impact_Modifier_Content}}</td>
            <td>{{mic.Processing_Location}}</td>
            <td>{{mic.Mold}}</td>
            <td>{{mic.Resin_Grade}}</td>
             <td>{{mic.unique_ID}}</td>
             <td>{{mic.Compound}}</td>
              <td>{{mic.Compound_Lot}}</td>
                <td>{{mic.Press}}</td>
                  <td>{{mic.Production_Date}}</td>
                    <td>{{mic.Notes}}</td>
              </tr>
          </tbody>
        
        </table>
    </div>
  </div>
</div>