.Sales-Container {
    padding: 0 20px;

    .heading {
        h2 {
            font-size: 27px;
            text-transform: uppercase;
            padding: 35px 15px 15px 15px;
            border-bottom: thin solid #ddd;
            margin-bottom: 30px;
        }
    }

    .content {
        padding: 0 15px 80px 15px;
        font-size: 13px;

        table {
            margin-top: 20px !important;
            width: 100%;
            float: left;
            padding-bottom: 10px;

            th {
                color: #ffffff;
                font-weight: 500;
                text-transform: uppercase;
                border: none;
                background-color: #0f5daf;
                background-position: 100% 12px;
                background-size: 20px 15px;
            }

            td {
                border: none !important;
                font-size: 14px;
            }
        }
    }

    .blur {
        background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
        backdrop-filter: blur(8px); // This be the blur
        height: 100vh;
          width: 50%;
      }
}

.table-fixed{
    overflow-x: scroll;
    overflow-y: scroll; 
    height: fit-content;
    max-height: 90vh;
    margin-top: 40px;
 }
 
 table#datatable thead {z-index: 999;position: sticky;top: 0 !important;}

 .JDCData.Sales-Container {
    padding-top: 30px !important;
}

.JDCData table#datatableexample thead {
    position: sticky;
    top: 0;
    margin-top: 0 !important;
}



.JDCData div#datatableexample_wrapper {
    padding-top: 0px;
}
