// user-profile start
.user-profile {

    span {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        padding-left: 10px;

        i {
            border: 2px solid #fff;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            text-align: center;
            line-height: 35px;
            margin-right: 10px;
            font-size: 20px;
        }
    }
}



// user-profile end

nav {
    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        float: right;
        z-index: 99;

        li {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            a {
                color: #fff;
                text-decoration: none;
                padding: 15px;
                transition: all .5s;
                display: block;
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;

                &:hover,
                &.active {
                    background-color: #fff;
                    color: #1275db;
                }

                i {
                    margin-right: 0px;
                    font-size: 15px;
                    width: 20px;
                    text-align: center;
                }
            }

        }
    }
}
ul.subnav-content.show {
    display: block;
}
ul.subnav-content.hide {
    display: none;
}

body app-root {
    float: left;
    width: 100%;
    min-height: 100%;
    position: relative;
    padding-bottom: 125px;
}
nav .logo img {
    width: 150px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 7px;
    padding-right: 20px;
    border-right: 2px solid #FFFFFF;
}

nav .logo span {
    margin-left: 10px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

nav .logo {
    vertical-align: middle;
    float: left;
    padding-top: 5px;
}
.dropdown-dd {
    float: right;
    margin-top: 9px;
    margin-left: 30px;
}


.dropdown-dd a {
    color: #fff;
    font-size: 14px;
    background: #0066a4;
    padding: 5px 15px;
}

    
.dropdown-dd:hover .dropdown-logout {
    display: block;
}

.dropdown-dd .dropdown-logout {
    position: absolute;
    top: 85%;
    right: 0;
    left: auto;
    z-index: 1000;
    text-align: center;
    width: 100%;
    display: none;
    font-size: 13px;
    color: #ffffff;
    list-style: none;
    background-color: #0066a4;
    background-clip: padding-box;
}

.dropdown-dd {
    position: relative;
    float: right;
    margin-left: 30px;
    height: 42px;
    padding-top: 0px;
    
}

.dropdown-logout .dropdown {
    padding: 5px 20px;
}

ul.subnav li:hover .subnav-content {
    display: block;
}

ul.subnav .subnav-content {
    position: absolute;
    left: 0;
    top: 100%;
    width: 230px;
    background: #0066a4;
    display: none;
}

ul.subnav {
    position: relative;
}

ul.subnav .subnav-content li {
    width: 100%;
}

.dropdown-dd .dropdown-logout button {
    background: none;
    border: none;
    padding: 9px 10px;
    border-radius: 0;
    color: #fff;
    font-weight: 500;
}

.dropdown-dd:hover a {
    background: #fff !important;
    color: #0066a4 !important;
}

// navigation end