<nav>
  <div class="logo"><a href="/weather/dashboard">
    <img src="../../weather/assets/logo-certainteed_1.png" alt=""> <span> Visualization Tool</span></a>
  </div>
  <button class="navButton" (click)="dropdowntoggle()"><i class="fa fa-{{navdropdown ? 'times':'bars'}}"></i></button>
<div class="navigationDropdown {{navdropdown ? 'openmenu':''}}">
  <div _ngcontent-iqa-c1="" ngbdropdown="" class="dropdown-dd">
               
    <a class="btn" ngbdropdowntoggle="" aria-expanded="false" id="dropdownBasic1">
      <!-- {{Name}} -->Hi, {{Name}}  {{Role}} 
    </a>
    <div _ngcontent-iqa-c1="" ngbdropdownmenu="" class="dropdown-logout" aria-labelledby="dropdownBasic1">
      <button _ngcontent-iqa-c1="" class="btn" (click)="Logout()">Logout</button>
    </div>
    <!-- <button class="toggleMenu" (click)="togglemenu()"> <span></span><span></span><span></span> </button> -->
  </div>
    <ul class="subnav">
      
      <li *ngFor="let nav of navList">
        <a routerLink="/{{nav.name}}"><i class="fa {{nav.icon}}" aria-hidden="true"></i>
          {{nav.name}}<i *ngIf="nav.name === 'Data Upload' || nav.name === 'Admin'" class="fa fa-caret-down"></i></a>
        <ul *ngIf="nav.name === 'Data Upload'" class="subnav-content">
          <li *ngFor="let nav of DataUploadList">
            <a routerLink="/{{nav.name}}" style="padding: 8px 0 8px 31px;font-size: 13px;"><i
                class="fa {{nav.icon}}" aria-hidden="true"></i>
              {{nav.name}}</a>
          </li>
        </ul>
        <ul *ngIf="nav.name === 'Admin'" class="subnav-content">
          <li *ngFor="let nav of AdminList"> 
            <a  routerLink="/{{nav.name}}" style="padding: 8px 0 8px 31px;font-size: 13px;"><i
                class="fa {{nav.icon}}" aria-hidden="true"></i>
              {{nav.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
   
</div>
  </nav>