/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    &::before {
        box-sizing: border-box;
    }

    &::after {
        box-sizing: border-box;
    }
}

html {
    font-size: 12px;
}

body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    color: #0c0a3d;
}

input {
    &:focus {
        outline: none;
        outline: none;
    }
}

select {
    &:focus {
        outline: none;
    }
}

textarea {
    &:focus {
        outline: none;
        outline: none;
    }
}

button {
    &:focus {
        outline: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #bbbbca;
}

.dataTables_paginate {
    a {
        height: 30px;
        min-width: 30px !important;
        border-radius: 60px !important;
        background: #efefef !important;
        padding: 0 13px !important;
        line-height: 29px;
        font-weight: 500;
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
        transition: all 0.3s;

        &:focus,
        &:active {
            height: 30px;
            min-width: 30px !important;
            border-radius: 60px !important;
            background: #efefef !important;
            padding: 0 13px !important;
            line-height: 29px;
            font-weight: 500;
            border: none !important;
            box-shadow: none !important;
            outline: none !important;
            transition: all 0.3s;
        }
    }

    a.current {
        color: #fff !important;
        background: #0f5daf !important;
        border: none !important;
    }
}

#DataTables_Table_0_paginate {
    .current {
        color: white !important;
    }
}

.dataTables_paginate.paging_simple_numbers {
    margin-top: 10px;
}

.dataTables_info {
    margin-top: 10px;
    color: #444;
}

#DataTables_Table_0_next.disabled {
    color: #9b9b9b !important;
    cursor: no-drop !important;
}

#DataTables_Table_0_previous.disabled {
    color: #9b9b9b !important;
    cursor: no-drop !important;
}

.dataTables_filter {
    input {
        border-radius: 2px !important;
        margin-left: 10px !important;
        width: 200px;
        border: 2px solid #ddd !important;
    }
}



.test123 .content {
    position: relative;
}

.test123 .dataTables_wrapper {
    position: static;

.dataTables_filter {
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: -33px;
    right: 190px;
}
}

.dataTables_length {
    text-transform: uppercase;
    font-weight: 500;

    select {
        margin: 0 2px;
    }
}

#DataTables_Table_1_paginate a.current {
    color: #fff !important;
}

.dataTables_paginate a:hover:not(.disabled, .current) {
    background: #1275db !important;
    border: none !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dataTables_scrollBody #datatableexample,
.dataTables_scrollBody {
    width: 100% !Important;
}

.dataTables_wrapper .dataTables_length {
    float: right;
    margin-left: 20px;
    top: 5px;
    position: relative;
}

.test123 .dataTables_wrapper .dataTables_length {
    right: 0;
    top: -33px;
    position: absolute;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
}

.col-md-8.bars-graph {
    background: #f3f3f3;
}

.graph-form .form-group label {
    color: #0f5daf;
}


.selectrows h2 {
    display: inline-block;
    font-size: 17px;
    color: #0f5daf;
    margin-right: 20px;
    top: 4px;
    position: relative;
}

.selectrows button {
    float: right;
}

.selectrows {
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 16px;
	z-index: 1;
}
.Sales-Container .content table th {
   
    background-position: 100% center !important;

    vertical-align: middle !important;
}

div#datatableexample_wrapper {
    padding-top: 30px;
}

button.navButton {
	display: none;
}

@media only screen and (max-width: 600px) {

    .mat-tab-body-wrapper .Sales-Container.p-0.micdataJdcData.ng-star-inserted {
        padding-top: 30px !important;
    }


    .selectrows {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    div#datatableexample_filter {
        float: left;
    }

    div#datatableexample_filter input {
        width: 120px;
    }

    .navigationDropdown.openmenu{
		display: block;

	}
    .navigationDropdown {
		position: fixed;
		left: 0;
		height: 100%;
		top: 0;
		background: #343434;
		z-index: 4;
		width: 89%;
		padding: 10px;
		box-shadow: 0px 0px 0px 100px #000000a8;
		display: none;
    }

    .navigationDropdown .dropdown-dd {
		display: block;
		float: none !important;
		margin: 0 0 10px 0;
		border-radius: 0;
		background: #343434;
		text-align: left;
		margin-left: 0 !important;
    }

    .navigationDropdown a {
        background: none !important;
    }

    .dropdown-logout {
        display: inline-block !important;
        top: 0 !important;
        width: auto !important;
        right: 10px !important;
        padding: 0 15px;
        border-radius: 4px;
    }

	ul.subnav .subnav-content {
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		float: none !important;
		width: 100% !important;
	}

    .navigationDropdown .dropdown-dd ul.subnav li {
        display: block !important;
    }

    .navigationDropdown ul.subnav li {
        display: block !important;
    }

    .navigationDropdown ul.subnav {
        text-align: left;
        float: none !important;
    }

	button.navButton {
		position: absolute;
		right: 11px;
		top: 7px;
		background: none;
		border: none;
		font-size: 27px;
		color: #fff;
		z-index: 99;
		display: block;
	}
	
	.col-md-12.navigation {
		padding-bottom: 10px;
		position: sticky;
    top: 0;
    z-index: 9;
	}
}

.JDCData .dataTables_wrapper .dataTables_filter {
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: 18px;
    right: 190px;
}

.JDCData .dataTables_wrapper .dataTables_length {
    right: 0;
    top: 21px;
    position: absolute;
}

.JDCData.table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 9999px #b0bed9 !important;
    color: black;
}
.JDCData div#datatableexample_wrapper {
    position: static;
    padding: 0;
}

.JDCData table#datatableexample {
    margin-top: 0 !important;
}

table#datatableexample thead th input,table#datatableexample thead th select {
    height: 25px;
    border-radius: 3px;
    border: none;
    padding: 0 10px;
    font-size: 12px;
}

table.dataTable.hover>tbody>tr.selected:hover>*, table.dataTable.display>tbody>tr.selected:hover>* {
    box-shadow: inset 0 0 0 9999px #aab7d1;
}
table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 9999px #b0bed9;
    color: #2a2a2a;
}
