<div class="Sales-Container">
  <div class="heading">
      <h2>Manage Users</h2>

  </div>
  <div class="content">
      <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
          <thead>
            <tr>
              <th>SGID</th>
              <th>Name </th>
              <th>Mail </th>
              <th>Role </th>
              <th>Edit </th>
              <th>DeActive/Active </th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group of data">
             <td>{{group.SGI }}</td>
               <td>{{group.displayName }}</td>
               <td>{{group.mail }}</td>
               <td>{{group.Role }}</td>
               <td><button id="remove" (click)="editUser(group)"><i class="fa fa-edit" aria-hidden="true"></i></button></td>  
               <td><button id="remove" (click)="Delete(group)">{{group.Status}}</button></td>  
               
          
              </tr>
              </tbody>
              </table>
  </div>
  </div>