<div class="adduser Sales-Container">
  <div class="heading text-center">
    <h2>Add Users</h2>
  </div>

  <div class="content adduser">
    <div class=" mx-auto col-md-5 text-center my-4">
      <h5>Search User</h5>
      <label for="Name" id="Name"></label>
      <mat-form-field>
        <input matInput placeholder="Name" aria-label="State" [matAutocomplete]="auto"
          [formControl]="searchMoviesCtrl" id="Search">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let movie of filteredMovies" [value]="movie">
              <span><b>{{movie}}</b></span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>

      <div class="col-md-12 text-center my-4">
      <h5>Assign User Role</h5>

        <div class="form-check mt-2">
          <input class="form-check-input" value="3" type="radio" name="flexRadioDefault" id="flexRadioDefault3"
            (change)="onItemChange($event)">
          <label class="form-check-label" for="flexRadioDefault3">
            Read
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" value="4" type="radio" name="flexRadioDefault" id="flexRadioDefault4"
            (change)="onItemChange($event)">
          <label class="form-check-label" for="flexRadioDefault4">
            Read/Upload
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" value="2" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
            (change)="onItemChange($event)">
          <label class="form-check-label" for="flexRadioDefault2">
            Admin
          </label>
        </div>
        <div class="form-check" *ngIf="this.userRole=='SiteAdmin'">
          <input class="form-check-input" value="1" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
            (change)="onItemChange($event)">
          <label class="form-check-label" for="flexRadioDefault1">
            Site Admin
          </label>
        </div>
      </div>
      <button id="upload" type="button" class="btn btn-default action-button shiny-bound-input"
(click)="Adduser()">
        
        Add User
      </button>
    </div>
  </div>
</div>