.Sales-Container {
    padding: 0 20px;
  
    .heading {
      h2 {
        font-size: 27px;
        text-transform: uppercase;
        padding: 35px 15px 15px 15px;
        border-bottom: thin solid #ddd;
        margin-bottom: 30px;
      }
    }
    .adduser {
      mat-form-field {
        width: 100%;
      }
      #upload {
        display: table;
        margin: 30px auto 0 auto;
        background: #047ec7;
        color: #fff;
        font-size: 13px;
        padding: 8px 19px;
        border-radius: 30px;
      }
    }
  
    .content {
      padding: 0 15px 80px 15px;
      font-size: 13px;
  
      table {
        margin-top: 20px !important;
        width: 100%;
        float: left;
        padding-bottom: 10px;
  
        th {
          color: #ffffff;
          font-weight: 500;
          text-transform: uppercase;
          border: none;
          background-color: #0f5daf;
          background-position: 100% 12px;
          background-size: 20px 15px;
        }
  
        td {
          border: none !important;
          font-size: 14px;
        }
      }
    }
  }
  
  .Sales-Container .form-check {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
  }
  
  .Sales-Container .form-check input + label:before {
    content: "";
    position: absolute;
    background: #e7e7e7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
    transition: all 0.3s;
  }
  
  .Sales-Container .form-check input + label {
    padding: 5px 15px 5px 30px;
    border-radius: 10px !important;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .Sales-Container .form-check input + label:after {
    position: absolute;
    height: 17px;
    width: 17px;
    left: 6px;
    top: 6px;
    border: 4px solid #c3c3c3;
    background: #ffffff;
    z-index: 1;
    content: "";
    border-radius: 20px;
    transition: all 0.3s;
  }
  
  .Sales-Container .form-check input:checked + label:before,
  .Sales-Container .form-check:hover input + label:before {
    background: #0079c2;
  }
  
  .Sales-Container .form-check input:checked + label,
  .Sales-Container .form-check:hover input + label {
    color: #fff;
  }
  
  .Sales-Container .form-check input:checked + label:after,
  .Sales-Container .form-check:hover input + label:after {
    background: #0066a4;
    border-color: #ffffff;
  }
  
  .Sales-Container .form-check input {
    opacity: 0;
    position: absolute;
  }
  