<div class="container-fluid text-center py-4">
  <h2 class="pb-3 pt-5">You have been Logged Out!!</h2>
 
 <p class="pb-2">Click below to login again!!!</p>
 
 <button class="btn btn-default action-button shiny-bound-input" style="color: #fff; background-color: #337ab7; border-color: #2e6da4;" (click)="Login()">
     <i class="fa fa-paper-plane"></i>
     Login
   </button>
 
 </div>