
.Dashboard-Container {
	padding: 0 40px 40px 40px;
	.heading {
		h2 {
			font-size: 27px;
			text-transform: uppercase;
			padding: 35px 0px 15px 0px;
			border-bottom: thin solid #ddd;
			margin-bottom: 30px;
		}
	}
}

.header {
	grid-area: header;
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	padding: 1rem 3rem;
	.btn-appointment {
		padding: 1rem 1.5rem;
		border-radius: 0.5rem;
		height: fit-content;
		color: #fff;
		font-weight: 600;
	}
	.profile {
		justify-self: end;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1rem;
		.image {
			justify-self: end;
			img {
				width: 4rem;
				height: 4rem;
				border-radius: 4rem;
			}
			.notification {
				position: absolute;
				width: 1.25rem;
				height: 1.25rem;
				margin-top: -1.7rem;
				margin-left: 3rem;
				border-radius: 1.25rem;
			}
		}
		select {
			height: fit-content;
			border: none;
			background: none;
			font-size: 1rem;
			font-weight: 600;
			font-family: "Open Sans", Helvetica, sans-serif;
		}
	}
}
.aside {
	grid-area: aside;
	display: grid;
	gap: 1.5rem;
	padding: 1rem;
	justify-content: center;
	font-size: 1.5rem;
	color: #bbbbca;
	background-color: #fcfdfd;
	ul {
		display: grid;
		grid-template-rows: repeat(8, min-content);
		gap: 3rem;
		margin-top: 0.75rem;
		li {
			display: grid;
			place-items: center;
			padding: 0.5rem 0.75rem;
		}
		li.active {
			background-color: #fff;
			-webkit-box-shadow: 0px 0px 33px -10px rgba(126, 127, 232, 0.5);
			-moz-box-shadow: 0px 0px 33px -10px rgba(126, 127, 232, 0.5);
			box-shadow: 0px 0px 33px -10px rgba(126, 127, 232, 0.5);
			border-radius: 0.75rem;
			a {
				color: #1275db;
			}
		}
		li.logo {
			img {
				width: 3rem;
			}
			a {
				color: #fff;
				text-align: center;
				font-size: 1.25rem;
			}
		}
	}
}
.main {
	// padding: 3rem;
	grid-area: main;
	background-color: #ffffff;
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 2rem;
	.top {
		display: grid;
		grid-template-columns: 5fr 8fr;
		gap: 2rem;
	}
	.bottom {
		display: grid;
		gap: 2rem;
		grid-template-columns: 4.2fr 3.8fr 5.2fr;
	}
	.card {
		background-color: #fff;
		border-radius: 0.3rem;
		// padding: 2rem;
		.card-header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1.5rem;
			background: #0f5daf;
			color: #fff;
			.right {
				color: #ffffff;
			}
			h1 {
				display: inline-block;
				margin: 0;
				font-size: 1.05rem;
				line-height: 22px;
			}
			.header-container {
				display: grid;
				grid-template-columns: max-content max-content;
				gap: 1rem;
				align-items: end;
				span {
					color: #bbbbca;
					position: absolute;
					margin-left: 9rem;
					margin-top: 0.3rem;
				}
			}
			select {
				height: fit-content;
				border: none;
				background: none;
				font-size: 1rem;
				font-weight: 600;
				font-family: "Open Sans", Helvetica, sans-serif;
			}
		}
		.card-body {
			display: grid;
			gap: 2rem;
		}
		.appointment {
			display: grid;
			grid-template-columns: min-content max-content 1fr min-content min-content;
			grid-template-rows: repeat(3, min-content);
			grid-template-areas: "profile name name check times" "profile title title check times" "profile date time check times";
			column-gap: 1.5rem;
			row-gap: 0;
			.image {
				grid-area: profile;
				width: 4rem;
				height: 4rem;
				border-radius: 4rem;
				box-shadow: 5px 5px 22px 0px rgba(156, 156, 156, 0.5);
			}
			.image.gray {
				box-shadow: 5px 5px 22px 0px #c7c5d2;
			}
			.image.red {
				box-shadow: 5px 5px 22px 0px rgba(193, 68, 84, 0.5);
			}
			.name {
				grid-area: name;
				font-weight: 600;
			}
			.title {
				grid-area: title;
				font-size: 0.8rem;
				color: #9695af;
			}
			.date {
				grid-area: date;
				font-size: 0.8rem;
				i {
					color: #1275db;
				}
			}
			.time {
				grid-area: time;
				font-size: 0.8rem;
				i {
					color: #2d50ff;
				}
			}
			.check {
				grid-area: check;
				font-size: 1.5rem;
				align-self: center;
				color: #1275db;
			}
			.times {
				grid-area: times;
				font-size: 1.5rem;
				align-self: center;
				color: #333333;
			}
		}
		.chart-container {
			height: 17rem;
		}
		.news-list {
			.news {
				display: grid;
				grid-template-columns: 1fr min-content;
				grid-template-areas: "title arrow" "subtitle arrow";
				gap: 0.5rem;
				.title {
					grid-area: title;
					font-weight: 700;
					color: #0c0a3d;
				}
				.subtitle {
					grid-area: subtitle;
					color: #9594ae;
				}
				.fa-caret-right {
					grid-area: arrow;
					align-self: center;
				}
				hr {
					width: 100%;
					border: none;
					background-color: #bbbbca;
					height: 1px;
				}
			}
			.more {
				text-align: center;
				a {
					color: #1275db;
					font-weight: bold;
				}
			}
		}
	}
	.card.alert {
		background: #1275db;
		color: #fff;
	}
	.current-prescription-container {
		display: grid;
		grid-template-rows: 1fr max-content;
		gap: 2rem;
		ul {
			display: grid;
			row-gap: 0.75rem;
			padding: 0 15px;
		}
	}
}
.prescription-item {
	display: grid;
	grid-template-areas: "dot title" "dot description";
	grid-template-columns: min-content 1fr;
	column-gap: 1.5rem;
	.dot {
		grid-area: dot;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 1.5rem;
		align-self: center;
	}
	.dot.gray {
		background-color: #485561;
		box-shadow: 2px 2px 10px 0px #636363db;
	}
	.dot.violet {
		background-color: #1275db;
		box-shadow: 2px 2px 10px 0px #1275dbdb;
	}
	.title {
		grid-area: title;
		color: #0c0a3d;
		font-weight: 800;
	}
	.description {
		grid-area: description;
	}
}
.notifications {
	ul {
		display: grid;
		gap: 1.5rem;
	}
	.more {
		text-align: center;
		a {
			color: #1275db;
			font-weight: 600;
		}
	}
	.notification {
		display: grid;
		grid-template-areas: "dot title date";
		grid-template-columns: min-content 1fr max-content;
		align-items: center;
		gap: 1rem;
		.dot {
			grid-area: dot;
			width: 0.75rem;
			height: 0.75rem;
			border-radius: 0.75rem;
		}
		.dot.green {
			background-color: #16c08f;
		}
		.dot.red {
			background-color: #ff7d7d;
		}
		.dot.blue {
			background-color: #1275db;
		}
		.title {
			grid-area: title;
			color: #0c0a3d;
			font-weight: 600;
		}
		.date {
			grid-area: date;
		}
	}
}
@media screen and (max-width: 400px) {
	.wrapper {
		grid-template-columns: initial;
		grid-template-rows: initial;
	}
	.header {
		gap: 0.75rem;
		padding: 0.75rem;
		.profile {
			.image {
				.notification {
					margin-top: -1.5rem;
					margin-left: 2.3rem;
				}
			}
		}
	}
	.aside {
		position: fixed;
		bottom: 0;
		width: 100%;
		border-top: 1px solid #f1f1f1;
		justify-content: initial;
		ul {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: none;
			margin-top: 0;
			.hide {
				display: none;
			}
			.logo.hide {
				display: none;
			}
		}
	}
	.main {
		padding: 1rem 0 6rem 0;
		gap: 1rem;
		.top {
			gap: 1rem;
		}
		.bottom {
			gap: 1rem;
		}
	}
}
@media screen and (max-width: 1148px) {
	.main {
		grid-template-rows: initial;
		.top {
			grid-template-columns: initial;
		}
		.bottom {
			grid-template-columns: initial;
		}
	}
}
@media screen and (max-width: 650px) {
	.main {
		.card {
			.chart-container {
				height: 10rem;
			}
		}
	}
}


ul.rightlist-dash li a {padding: 20px;margin-bottom: 10px;background: #e7f6ff;display: block;transition: all 0.5s;font-size: 19px;color: #333;font-weight: 300;border-left: 20px solid #047ec7;}

ul.rightlist-dash li a:hover {color: #333;background: #047ec7;color: #fff;border-color: #0066a4;text-decoration: none;}

ul.rightlist-dash {position: relative;top: 50%;transform: translateY(-50%);}