
<div class=" col-md-12 mx-auto pt-3 ">

  <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChanged($event);">
    
    <mat-tab label="Select/Browse Data">
      <div class="Sales-Container p-0 micdataJdcData JDCData">
        
    <div class="content">
     <div class="selectrows">
      <h2 _ngcontent-mul-c64="">Select rows for plotting:</h2>
      <button id="upload" type="button" class="floatingbtn btn btn-default action-button shiny-bound-input" style="color: #fff; background-color: #337ab7; border-color: #2e6da4;" (click)="ClearRows()">
        Clear Selected Rows
      </button>
     </div>
     <div class="row table-fixed">
        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
            <thead>
                <tr>
                  <th>ID</th>
            <th>Formulation</th>
                <th>Pigment</th>   
                <th>Light_Stabilizer_Type</th>           
    <th>Filler_Type</th>  
    <th>Pigment_Supplier</th> 
    <th>Processing_Location</th>
    <th>Resin_Grade</th>
                  </tr>
                  <tr>
                    <th>ID</th>
              <th>Formulation</th>
                  <th>Pigment</th>   
                  <th>Light_Stabilizer_Type</th>           
      <th>Filler_Type</th>  
      <th>Pigment_Supplier</th> 
      <th>Processing_Location</th>
      <th>Resin_Grade</th>
                    </tr>
                </thead>
                
          </table></div></div>
    
    </div></mat-tab>
    <mat-tab label="Plotting">
      <div class=" midjdiData col-md-12 mx-auto">
      <div class="row">
        <div class="col-md-4 graph-form pt-5">
            <div class="form-group col-md-12">
              <label for="email">Update Graph Plot</label>
            <input type="submit" value="Update" class="float-right upload_plot btn btn-md btn-primary" (click)="updateplot();" />
            </div>
            <div class="form-group col-md-12">
              <label for="email">Choose a color metric type:</label>
            
              <select  class="form-control" #mySelect
              (change)='onOptionsSelected(mySelect.value)'>  
               
              <option value="dE">  dE  </option>  
              <option value="dL">  dL </option>  
              <option value="da">  da  </option>  
              <option value="db">  db </option>  
              </select>  
            </div>
            <div class="form-group col-md-12">
              <label for="email">Choose controls for plot:</label>
              <select  class="form-control" (change)='onControlChange(myControlSelect.value)' #myControlSelect>  
                <option   
                value="No Control">  
              No Control
              </option>  
                <option *ngFor="let Data of ControlData"  
                        value={{Data.Formulation}}>  
                    {{Data.Formulation}}  
                </option>  
              </select>  
            </div>
            <div class="form-group col-md-12">
              <label for="email">Choose a category for assigning color to data in the plot (color will be given based on the interaction of color and shape choices):</label>
            
              <select  class="form-control" (change)='oncolorChange($event)'>  
             
                <option *ngFor="let lang of ColumnData"  
                        value={{lang}} [selected]="lang==='Formulation'">  
                    {{lang}}  
                </option>  
  </select>  
            </div>

            <div class="form-group col-md-12">
              <label for="email">Choose a category for data shape in the plot:</label>
            
              <select  class="form-control" (change)='onshapeChange($event)'>  
             
                <option *ngFor="let lang of ColumnData"  
                        value={{lang}} [selected]="lang==='Color'">  
                    {{lang}}  
                </option>  
  </select>  
            </div>
            <div class="form-group">
                <label>
  
                  <input type="checkbox" (change)="onCheckboxChange()" />
  
                  Add Warranty Line for reference
  
                </label>
  
          </div>
          <div class="form-group">
            <input  type="submit" value="Export Excel" class="float-right upload_plot btn btn-md btn-primary" (click)="ExportExcel()"/>
            </div>
          
          </div>
          <img _ngcontent-wqf-c57="" id="loader" src="assets/loader.gif" alt="Loading" style="margin-top: 8%;margin-left: 26%;display: block;height: 1%;width: 7%;">
      
          <div class="col-md-8 bars-graph pt-3" id="chart">
        
            <div class="graph-develop" #mydiv>
          <canvas #canvasEl>{{chart}}</canvas></div>
    
        </div>
      </div>
      </div>
    </mat-tab>
   
    </mat-tab-group>
    </div>