.mat-tab-group {
    margin-bottom: 48px;
    font-size: larger;
    color: #4b46d5;
  }

  .custom-class {

    width: 200%;
}
tr.selected{background-color:#b0bed9}

.Sales-Container {
  padding: 0 20px;

  .heading {
      h2 {
          font-size: 27px;
          text-transform: uppercase;
          padding: 35px 15px 15px 15px;
          border-bottom: thin solid #ddd;
          margin-bottom: 30px;
      }
  }

  .content {
      padding: 0 15px 80px 15px;
      font-size: 13px;

      table {
          margin-top: 20px !important;
          width: 100%;
          float: left;
          padding-bottom: 10px;

          th {
              color: #ffffff;
              font-weight: 500;
              text-transform: uppercase;
              border: none;
              background-color: #0f5daf;
              background-position: 100% 12px;
              background-size: 20px 15px;
          }

          td {
              border: none !important;
              font-size: 14px;
          }
      }
  }
}
.table-fixed{
    overflow-x: scroll;
    overflow-y: scroll; 
    height: fit-content;
    max-height: 90vh;
    margin-top: 40px;
 }
 .dataTables_wrapper .dataTables_filter {
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: 18px;
    right: 190px;
}
 table#datatable thead {z-index: 999;position: sticky;top: 0 !important;}

 .JDCData.Sales-Container {
    padding-top: 30px !important;
}

.JDCData table#datatableexample thead {
    position: sticky;
    top: 0;
    margin-top: 0 !important;
}

.JDCData .selectrows {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 1;
}



.JDCData div#datatableexample_wrapper {
    padding-top: 0px;
}
