.Sales-Container {
    padding: 0 20px;

    .heading {
        h2 {
            font-size: 27px;
            text-transform: uppercase;
            padding: 35px 15px 15px 15px;
            border-bottom: thin solid #ddd;
            margin-bottom: 30px;
        }
    }

    .content {
        padding: 0 15px 80px 15px;
        font-size: 13px;

        table {
            margin-top: 20px !important;
            width: 100% !important;
            float: left;
            padding-bottom: 10px;

            th {
                color: #ffffff;
                font-weight: 500;
                text-transform: uppercase;
                border: none;
                background-color: #0f5daf;
                background-position: 100% 12px;
                background-size: 20px 15px;
            }

            td {
                border: none !important;
                font-size: 14px;
            }
        }
    }
}
.hover_bkgr_fricc{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}