<div class="Sales-Container">
    <div class="heading">
        <h2>JDC Test Condition</h2>
    </div>
    <div class="content">
        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
            <thead>
              <tr>
                <th>QUV_id</th>
                <th>uv_irradiance</th>
                <th>uv_cycle_time</th>
                <th>uv_cycle_temp</th>
                <th>condensation_cycle_time</th>
                <th>condensation_cycle_temp</th>
                <th>comments</th>
                <!-- <th>Edit</th> -->
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let group of data; let i = index" class="DrillDownRow">
                   <td class="rowedit">{{group.QUV_id}}</td>
                   <td class="rowedit">{{group.uv_irradiance}}</td>
                   <td class="rowedit">{{group.uv_cycle_time}}</td>
                   <td class="rowedit">{{group.uv_cycle_temp}}</td>
                   <td class="rowedit">{{group.condensation_cycle_time}}</td>
                   <td class="rowedit">{{group.condensation_cycle_temp}}</td>
                   <td class="rowedit">{{group.comments}}</td>
                   <!-- <td id="removeId"><button type="button"(click)="popup = true">
                    Edit
                   </button></td>  -->
                 <td id="removeId"><button id="remove" (click)="deleteRow(group)"><i class="fa fa-trash-o" style="font-size:24px"></i></button></td>  
               </tr>
            </tbody>
          </table>
          <label for="QUV_name">New QUV name</label>
          <div class="row col-md-12">
            <div class="col-md-3" style="padding-left: 0px;">
            <input id="QUV_name" type="text" class="form-control shiny-bound-input"></div>
            <div class="col-md-3">
            <button id="AddRow" type="button"  class="btn btn-default action-button shiny-bound-input" style="color: #fff; background-color: #337ab7; border-color: #2e6da4;" (click)="AddRow()">
            <i class="fa fa-plus"></i>
            Add Row
          </button></div>
         
          <div class="col-md-3">
          <button id="SaveUpdates" type="button" class="btn btn-default action-button shiny-bound-input" style="color: #fff; background-color: #337ab7; border-color: #2e6da4;" (click)="SaveUpdates()">
            <i class="fa fa-save"></i>
            Save Updates
          </button></div>
          </div>
          
    </div>
    <div class="hover_bkgr_fricc">
      <span class="helper"></span>
      <div>
        <div >Add column</div> <div class="popupCloseButton">&times;</div>
          <p>Column Name</p><input id="ColumnName" type="text"/>
          <button id="Save" type="button"  class="btn btn-default action-button shiny-bound-input" style="color: #fff; background-color: #337ab7; border-color: #2e6da4;" (click)="Savecolumn()">
         
         Save
          </button>
      </div>
  </div>
  <div class="heading">
    <h2> Xenon Test Condition</h2>
</div>
    <div class="content" >
        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample1">
            <thead>
              <tr  *ngFor="let group of data2.slice(0, 1); let i = index">
                <th *ngFor='let colItem of group | keyvalue; let colIndex = index'><span *ngIf="colItem?.key !== 'ID' && colItem?.key !== '$id' && colItem?.key !== 'id' && colItem?.key !== 'IsDelete' "> {{colItem?.key}}</span></th>
<th>Delete</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let group of data2; let i = index" class="DrillDownRow1">
                   <td *ngFor='let colItem of group | keyvalue; let colIndex = index' class="rowedit1">  <span *ngIf="colItem?.key !== 'ID' && colItem?.key !== '$id'  && colItem?.key !== 'id' && colItem?.key !== 'IsDelete' " >{{colItem?.value}}</span></td>
                   <!-- <td class="rowedit1">{{group.Large_Xenon}}</td> -->
                   <!-- <td class="rowedit1">{{group.Small_Xenon}}</td> -->
                   <td id="removeId1"><button id="remove" (click)="deletexenonRow(group)"><i class="fa fa-trash-o" style="font-size:24px"></i></button></td>  
                  
               </tr>
            </tbody>
          </table>
          <label for="xenon_name">New xenon name</label>
          <div class="row col-md-12">
            <div class="col-md-3" style="padding-left: 0px;">
            <input id="QUV_name1" type="text" class="form-control shiny-bound-input"></div>
            <div class="col-md-2">
            <button id="AddRow" type="button"  class="btn btn-default action-button shiny-bound-input" style="color: #fff; background-color: #337ab7; border-color: #2e6da4;" (click)="AddxenonRow()">
            <i class="fa fa-plus"></i>
            Add Row
          </button>
         
          
        </div>
        <div class="col-md-2">
   
        <button id="AddColumn" type="button"  class="btn btn-default action-button shiny-bound-input" style="color: #fff; background-color: #337ab7; border-color: #2e6da4;" (click)="AddColumn()">
          <i class="fa fa-plus"></i>
          Add Column
        </button>
        
      </div>
          <div class="col-md-3">
          <button id="SaveUpdates" type="button" class="btn btn-default action-button shiny-bound-input" style="color: #fff; background-color: #337ab7; border-color: #2e6da4;" (click)="SavexenonUpdates()">
            <i class="fa fa-save"></i>
            Save Updates
          </button></div>
          </div>
    </div>
</div>