.Sales-Container {
    padding: 0 20px;
 
    .heading {
        h2 {
            font-size: 27px;
            text-transform: uppercase;
            padding: 35px 15px 15px 15px;
            border-bottom: thin solid #ddd;
            margin-bottom: 30px;
        }
    }

    .content {
        padding: 0 15px 80px 15px;
        font-size: 13px;

        table {
            margin-top: 20px !important;
            width: 100%;
            float: left;
            padding-bottom: 10px;

            th {
                color: #ffffff;
                font-weight: 500;
                text-transform: uppercase;
                border: none;
                background-color: #0f5daf;
                background-position: 100% 12px;
                background-size: 20px 15px;
            }

            td {
                border: none !important;
                font-size: 14px;
            }
        }
    }
}
.JDCData1 .dataTables_wrapper .dataTables_filter {
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: 18px;
    right: 190px;
}

.JDCData1 .dataTables_wrapper .dataTables_length {
    right: 0;
    top: 21px;
    position: absolute;
}