
<div class="Sales-Container JDCData1">
    <div class="heading">
        <h2>JDC Database Summary</h2>
    </div>
    <div class="content">
        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
            <thead>
              <tr>
                <th>Delete</th>
                <th>Test ID</th>
                <th>Test Location</th>
                <th>Time Metric</th>
                <th>Sample Code</th>
                <th>Max Time</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let group of data">
              <td><button id="remove" (click)="deleteRow(group)"><i class="fa fa-trash-o" style="font-size:24px"></i></button></td>  
             
                   <td>{{group.Test_ID}}</td>
                   <td>{{group.test_location}}</td>
                   <td>{{group.Time_metric}}</td>
                   <td>{{group.Sample_code}}</td>
                   <td>{{group.max_time}}</td>
               </tr>
            </tbody>
          </table>
    </div>
</div>