<div class="Sales-Container">
  <div class="heading">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <p>Choose .xlsx File(s)</p>
        <form method="post" enctype="multipart/form-data"> <input type="file" id="files" name="files" multiple="multiple" #fileInput (change)="onFileChange($event)"/>
           
        </form>
      </div>
      <div class="col-md-3">
        <p>Choose File Template</p>
        <div class="form-check">
            <input class="form-check-input" value="JDC" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (change)="Onchange($event)">
            <label class="form-check-label" for="flexRadioDefault1">
              JDC 
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="MIC" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (change)="Onchange($event)">
            <label class="form-check-label" for="flexRadioDefault2">
             MIC 
            </label>
          </div>
      </div>
    
    </div> 
    <div class="row">
    
      <button id="upload" type="button" *ngIf="this.isButtonVisible" class="btn btn-default action-button shiny-bound-input" style="color: #fff; background-color: #337ab7; border-color: #2e6da4;" (click)="updateData()">
        <i class="fa fa-paper-plane"></i>
        Upload preview data into the database
      </button>
      </div>

  </div>
  <img id="loader" src="assets/loader.gif" alt="Loading" style="
  width: 5%;
  margin-left: 43%;
"> 
  <div class="content" *ngIf="this.Show">
    <div id="t1">
      <table class="table table-striped table-bordered table-sm row-border hover t1" id="datatableexample" *ngIf="this.MIC">
          
        <thead>
          <tr>
            <th>Formulation</th>
            <th>Pigment</th>
            <th>ID</th>
            <th>Date</th>
            <th>duplicate</th>
            <th>Hours</th>
            <th>Lstar</th>
            <th>astar</th>
            <th>bstar</th>
            <th>dL</th>
            <th>da</th>
            <th>db</th>
            <th>dE</th>
            <th>Light_Stabilizer_Type</th>
            <th>Target_Light_Stabilizer_Content</th>
            <th>Actual_Light_Stabilizer_Content</th>
            <th>Antioxidant</th>
            <th>Antioxidant_Content</th>
            <th>Filler_Type</th>
            <th>Filler_Content</th>
            <th>Pigment_Type</th>
            <th>Pigment_Supplier</th>
            <th>Pigment_Content</th>
            <th>Impact_Modifier_Type</th>
            <th>Impact_Modifier_Content</th>
            <th>Processing_Location</th>
            <th>Mold</th>
            <th>Resin_Grade</th>
            <th>Compound</th>
            <th>Compound_Lot</th>
              <th>Press</th>
                <th>Production_Date</th>
                  <th>Notes</th>
          </tr>
        </thead>
        <tbody>
         <tr *ngFor="let data of Importeddata">
          <td>{{data.Formulation}}</td>
          <td>{{data.Pigment}}</td>
          <td>{{data.ID}}</td>
          <td>{{data.Date}}</td>
          <td>{{data.duplicate}}</td>
          <td>{{data.Hours}}</td>
          <td>{{data.Lstar}}</td>
          <td>{{data.astar}}</td>
          <td>{{data.bstar}}</td>
          <td>{{data.dL}}</td>
          <td>{{data.da}}</td>
          <td>{{data.db}}</td>
          <td>{{data.dE}}</td>
          <td>{{data.Light_Stabilizer_Type}}</td>
          <td>{{data.Target_Light_Stabilizer_Content}}</td>
          <td>{{data.Actual_Light_Stabilizer_Content}}</td>
          <td>{{data.Antioxidant}}</td>
          <td>{{data.Antioxidant_Content}}</td>
          <td>{{data.Filler_Type}}</td>
          <td>{{data.Filler_Content}}</td>
          <td>{{data.Pigment_Type}}</td>
          <td>{{data.Pigment_Supplier}}</td>
          <td>{{data.Pigment_Content}}</td>
          <td>{{data.Impact_Modifier_Type}}</td>
          <td>{{data.Impact_Modifier_Content}}</td>
          <td>{{data.Processing_Location}}</td>
          <td>{{data.Mold}}</td>
          <td>{{data.Resin_Grade}}</td>
          <td>{{data.Compound}}</td>
          <td>{{data.Compound_Lot}}</td>
            <td>{{data.Press}}</td>
              <td>{{data.Production_Date}}</td>
                <td>{{data.Notes}}</td>
           </tr>
        </tbody>
    
        </table>
      </div>
        <div id="t2">
        <table class="table table-striped table-bordered table-sm row-border hover t2" id="datatableexample" *ngIf="this.JDC">
          
          <thead>
            <tr>
              <th>Filepath</th>
      <th>filename</th>
      <th>sheet_name</th>
      <th>Test_ID</th>
      <th>Test_name</th>
      <th>test_type</th>
      <th>test_location</th>
      <th>Sample_code</th>
      <th>test_location_id</th>
      <th>RET</th>
      <th>Color</th>
      <th>Formulation</th>
      <th>Sample_name</th>
      <th>Test_Date</th>
      <th>TOH</th>
      <th>Time</th>
      <th>Time_metric</th>
      <th>Gloss</th>
      <th>L</th>
      <th>a</th>
      <th>b</th>
      <th>DL</th>
      <th>Da</th>
      <th>Db</th>
      <th>DE</th>
      <th>HBU</th>
      <th>Comments</th>
      <th>unique_ID</th>
      <th>ID</th>
            
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let data of Importeddata">
            <td>{{data.Filepath}}</td>
            <td>{{data.filename}}</td>
            <td>{{data.sheet_name}}</td>
            <td>{{data.Test_ID}}</td>
            <td>{{data.Test_name}}</td>
            <td>{{data.test_type}}</td>
            <td>{{data.test_location}}</td>
            <td>{{data.Sample_code}}</td>
            <td>{{data.test_location_id}}</td>
            <td>{{data.RET}}</td>
            <td>{{data.Color}}</td>
            <td>{{data.Formulation}}</td>
            <td>{{data.Sample_name}}</td>
            <td>{{data.Test_Date}}</td>
            <td>{{data.TOH}}</td>
            <td>{{data.Time}}</td>
            <td>{{data.Time_metric}}</td>
            <td>{{data.Gloss}}</td>
            <td>{{data.L}}</td>
            <td>{{data.a}}</td>
            <td>{{data.b}}</td>
            <td>{{data.DL}}</td>
            <td>{{data.Da}}</td>
            <td>{{data.Db}}</td>
            <td>{{data.DE}}</td>
            <td>{{data.HBU}}</td>
            <td>{{data.Comments}}</td>
            <td>{{data.unique_ID}}</td>
            <td>{{data.ID}}</td>
             </tr>
          </tbody>
          </table>
        </div>
  </div>
</div>