
<div class="Sales-Container">
    <div class="heading">
        <h2>MIC Database Summary</h2>
    </div>
    <div class="content">
        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
            <thead>
              <tr>
                <th>Delete</th>
                <th>ID</th>
                <th>Formulation</th>
                <th>Pigment</th>
                <th>Date</th>
                <th>max_Hours</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let mic of data">
                 <td><button id="remove" (click)="deleteRow(mic)"><i class="fa fa-trash-o" style="font-size:24px"></i></button></td>  
              
                <td>{{mic.ID}}</td>
                <td>{{mic.Formulation}}</td>
                <td>{{mic.Pigment}}</td>
               <td>{{mic.Date | date:'MM-dd-yyyy'}}</td>
               <td>{{mic.max_hours | number:'1.1-5'}}</td>
               </tr>
            </tbody>
          </table>
    </div>
</div>