<div class="Sales-Container test123">
  <div class="heading">
      <h2>JDC Database</h2>
  </div>
  <div class="content">
    <div class="row table-fixed">
      <table class="table table-striped table-bordered table-sm row-border hover display dataTable fixedHeader-floating" id="datatableexample">
  <thead>
      <tr>
         
          <th>Test_ID </th>
              <th>Test_name </th>
              <th>test_type </th>
              <th>test_location </th>
              <th>Sample_code </th>
              <th>test_location_id </th>
              <th>RET </th>
              <th>Color </th>
              <th>Formulation </th>
              <th>Sample_name </th>
              <th>Test_Date </th>
              <th>TOH </th>
              <th>Time </th>
              <th>Time_metric </th>
              <th>Gloss </th>
              <th>L </th>
              <th>a </th>
              <th>b </th>
              <th>DL </th>
              <th>Da </th>
              <th>Db </th>
              <th>DE </th>
              <th>HBU </th>
              <th>Comments </th>
              <th>unique_ID </th>
          
      </tr>
      <tr>
       
          <th>Test_ID </th>
              <th>Test_name </th>
              <th>test_type </th>
              <th>test_location </th>
              <th>Sample_code </th>
              <th>test_location_id </th>
              <th>RET </th>
              <th>Color </th>
              <th>Formulation </th>
              <th>Sample_name </th>
              <th>Test_Date </th>
              <th>TOH </th>
              <th>Time </th>
              <th>Time_metric </th>
              <th>Gloss </th>
              <th>L </th>
              <th>a </th>
              <th>b </th>
              <th>DL </th>
              <th>Da </th>
              <th>Db </th>
              <th>DE </th>
              <th>HBU </th>
              <th>Comments </th>
              <th>unique_ID </th>
          
      </tr>
  </thead>
  
 
</table>
</div>
</div>
</div>